<a href="https://colab.research.google.com/github/Nigamium/Stock_prediction_project/blob/main/Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.25)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (3.4)

In [24]:
import yfinance as yf

In [25]:
import pandas as pd
from pandas_datareader import data as pdr
yf.pdr_override()
from datetime import datetime

In [27]:
companies = ['MSFT', 'AMZN']

In [29]:
end = datetime.now()
start = datetime(end.year, 1, 1)

In [30]:
for stocks in companies:
  globals()[stocks] = yf.download(stocks, start, end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [31]:
company_list = [MSFT, AMZN]
company_name = ["Microsoft", "Amazon"]

In [32]:
for company, name in zip(company_list, company_name):
  company["company_name"] = name

df = pd.concat(company_list, axis = 0)

In [33]:
df.info

<bound method DataFrame.info of                   Open        High         Low       Close   Adj Close  \
Date
2023-01-03  243.080002  245.750000  237.399994  239.580002  238.460144
2023-01-04  232.279999  232.869995  225.960007  229.100006  228.029129
2023-01-05  227.199997  227.550003  221.759995  222.309998  221.270844
2023-01-06  223.000000  225.759995  219.350006  224.929993  223.878601
2023-01-09  226.449997  231.240005  226.410004  227.119995  226.058380
...                ...         ...         ...         ...         ...
2023-07-31  133.199997  133.869995  132.380005  133.679993  133.679993
2023-08-01  133.550003  133.690002  131.619995  131.690002  131.690002
2023-08-02  130.149994  130.229996  126.820000  128.210007  128.210007
2023-08-03  127.480003  129.839996  126.410004  128.910004  128.910004
2023-08-04  141.059998  143.520004  140.020004  142.375000  142.375000

              Volume company_name
Date
2023-01-03  25740000    Microsoft
2023-01-04  50623400    Microsoft
2023-01-05  39585600    Microsoft
2023-01-06  43613600    Microsoft
2023-01-09  27369800    Microsoft
...              ...          ...
2023-07-31  41901500       Amazon
2023-08-01  42098500       Amazon
2023-08-02  51027600       Amazon
2023-08-03  88585200       Amazon
2023-08-04  93363392       Amazon

[296 rows x 7 columns]>

In [34]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2023-01-03,243.080002,245.750000,237.399994,239.580002,238.460144,25740000,Microsoft
2023-01-04,232.279999,232.869995,225.960007,229.100006,228.029129,50623400,Microsoft
2023-01-05,227.199997,227.550003,221.759995,222.309998,221.270844,39585600,Microsoft
2023-01-06,223.000000,225.759995,219.350006,224.929993,223.878601,43613600,Microsoft
2023-01-09,226.449997,231.240005,226.410004,227.119995,226.058380,27369800,Microsoft

In [35]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2023-07-31,133.199997,133.869995,132.380005,133.679993,133.679993,41901500,Amazon
2023-08-01,133.550003,133.690002,131.619995,131.690002,131.690002,42098500,Amazon
2023-08-02,130.149994,130.229996,126.820000,128.210007,128.210007,51027600,Amazon
2023-08-03,127.480003,129.839996,126.410004,128.910004,128.910004,88585200,Amazon
2023-08-04,141.059998,143.520004,140.020004,142.375000,142.375000,93363392,Amazon

In [36]:
MSFT.describe()

,Open,High,Low,Close,Adj Close,Volume
count,148.000000,148.000000,148.000000,148.000000,148.000000,1.480000e+02
mean,292.895000,296.153176,290.054966,293.266419,292.773618,3.021279e+07
std,37.885119,38.114301,37.540270,37.743856,38.117132,1.099671e+07
min,223.000000,225.759995,219.350006,222.309998,221.270844,1.120388e+07
25%,257.267502,260.112495,255.949997,257.762497,256.934219,2.320905e+07
50%,287.115005,290.175003,284.894989,288.625000,287.995438,2.715170e+07
75%,332.625008,335.265007,327.814995,332.005005,332.005005,3.349595e+07
max,361.750000,366.779999,352.440002,359.489990,359.489990,6.952740e+07

In [37]:
AMZN.describe()

,Open,High,Low,Close,Adj Close,Volume
count,148.000000,148.000000,148.000000,148.000000,148.000000,1.480000e+02
mean,109.379527,110.970067,107.981081,109.579831,109.579831,6.399050e+07
std,14.706450,14.676571,14.690180,14.579046,14.579046,2.130122e+07
min,83.029999,85.419998,81.430000,83.120003,83.120003,2.826480e+07
25%,98.100000,99.212500,96.275002,97.987501,97.987501,5.125440e+07
50%,103.930000,105.320000,102.279999,103.730000,103.730000,5.849810e+07
75%,125.105000,127.024998,124.044998,125.562498,125.562498,7.156848e+07
max,141.059998,143.520004,140.020004,142.375000,142.375000,1.581542e+08

In [38]:
AMZN.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 148 entries, 2023-01-03 to 2023-08-04
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          148 non-null    float64
 1   High          148 non-null    float64
 2   Low           148 non-null    float64
 3   Close         148 non-null    float64
 4   Adj Close     148 non-null    float64
 5   Volume        148 non-null    int64
 6   company_name  148 non-null    object
dtypes: float64(5), int64(1), object(1)
memory usage: 9.2+ KB

In [39]:
MSFT.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 148 entries, 2023-01-03 to 2023-08-04
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          148 non-null    float64
 1   High          148 non-null    float64
 2   Low           148 non-null    float64
 3   Close         148 non-null    float64
 4   Adj Close     148 non-null    float64
 5   Volume        148 non-null    int64
 6   company_name  148 non-null    object
dtypes: float64(5), int64(1), object(1)
memory usage: 9.2+ KB